<!DOCTYPE html>
<html>
<head>
  <title>API Documentation</title>
  <meta charset="utf-8"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../static/css/main.css" />
  <script async src="../static/js/main.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body>
  <nav id="menubar">
    <a id="logo" href="#">
      <img src="../static/images/logo.png" height="40"/>
    </a>
  </nav>
  <div id="content">
    <nav id="sidebar">
      <ul>
        <li><a href="#home">API Documentation</a></li>
        <li><a href="#overview">Overview</a></li>
        <li>
          <a href="#api-reference">API Reference</a>
          <ul>
            <li><a href="#customers">Customers</a></li>
        </li>
      </ul>
    </nav>
    <div id="data-container">
      <table id="data">
        <tbody>
          <tr>
            <td>
              <h1 id="home">My API</h1>
              <p>This is the My API</p>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              <h2 id="overview">Overview</h2>
              <p>This is the API overview</p>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              <h2 id="api-reference">API Reference</h2>
              <p>This is the API reference</p>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              <h3 id="customers">Customers</h3>
              <p>This is the customers API reference</p>
            </td>
            <td>
            </td>
          </tr>
          <tr class="request">
            <td>
              <h4><b class="http-method">GET</b> /customers</h4>
              <p>Get the details for all customers</p>
              <table class="parameters">
                <tr>
                  <th>Parameter</th>
                  <th>Description</th>
                  <th>Default Value</th>
                </tr>
                <tr>
                  <td>name</td>
                  <td><i>{optional}</i> Customer name</td>
                  <td>null</td>
                </tr>
                <tr>
                  <td>email</td>
                  <td><i>{optional}</i> Customer e-mail address</td>
                  <td>null</td>
                </tr>
                <tr>
                  <td>city</td>
                  <td><i>{optional}</i> Customer city</td>
                  <td>null</td>
                </tr>
                <tr>
                  <td>pincode</td>
                  <td><i>{optional}</i> Customer pincode</td>
                  <td>null</td>
                </tr>
                <tr>
                  <td>registration_date</td>
                  <td><i>{optional}</i> Customer date of registration</td>
                  <td>null</td>
                </tr>
                <tr>
                  <td>last_modified</td>
                  <td><i>{optional}</i> Date of last modification to customer record</td>
                  <td>null</td>
                </tr>
                <tr>
                  <td>page</td>
                  <td><i>{optional}</i> Page index of results</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>page_size</td>
                  <td><i>{optional}</i> Number of results to return in a page</td>
                  <td>200</td>
                </tr>
              </table>
            </td>
            <td>
              <p class="json"></p>
            </td>
          </tr>
          <tr class="request">
            <td>
              <h4><b class="http-method">GET</b> /customers</h4>
              <p>Get the details for all customers</p>
              <table class="parameters">
                <tr>
                  <th>Parameter</th>
                  <th>Description</th>
                  <th>Default Value</th>
                </tr>
                <tr>
                  <td>name</td>
                  <td><i>{optional}</i> Customer name</td>
                  <td>null</td>
                </tr>
                <tr>
                  <td>email</td>
                  <td><i>{optional}</i> Customer e-mail address</td>
                  <td>null</td>
                </tr>
                <tr>
                  <td>city</td>
                  <td><i>{optional}</i> Customer city</td>
                  <td>null</td>
                </tr>
                <tr>
                  <td>pincode</td>
                  <td><i>{optional}</i> Customer pincode</td>
                  <td>null</td>
                </tr>
                <tr>
                  <td>registration_date</td>
                  <td><i>{optional}</i> Customer date of registration</td>
                  <td>null</td>
                </tr>
                <tr>
                  <td>last_modified</td>
                  <td><i>{optional}</i> Date of last modification to customer record</td>
                  <td>null</td>
                </tr>
                <tr>
                  <td>page</td>
                  <td><i>{optional}</i> Page index of results</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>page_size</td>
                  <td><i>{optional}</i> Number of results to return in a page</td>
                  <td>200</td>
                </tr>
              </table>
            </td>
            <td>
              <p class="json"></p>
            </td>
          </tr>
          <tr class="request">
            <td>
              <h4><b class="http-method">GET</b> /customers</h4>
              <p>Get the details for all customers</p>
              <table class="parameters">
                <tr>
                  <th>Parameter</th>
                  <th>Description</th>
                  <th>Default Value</th>
                </tr>
                <tr>
                  <td>name</td>
                  <td><i>{optional}</i> Customer name</td>
                  <td>null</td>
                </tr>
                <tr>
                  <td>email</td>
                  <td><i>{optional}</i> Customer e-mail address</td>
                  <td>null</td>
                </tr>
                <tr>
                  <td>city</td>
                  <td><i>{optional}</i> Customer city</td>
                  <td>null</td>
                </tr>
                <tr>
                  <td>pincode</td>
                  <td><i>{optional}</i> Customer pincode</td>
                  <td>null</td>
                </tr>
                <tr>
                  <td>registration_date</td>
                  <td><i>{optional}</i> Customer date of registration</td>
                  <td>null</td>
                </tr>
                <tr>
                  <td>last_modified</td>
                  <td><i>{optional}</i> Date of last modification to customer record</td>
                  <td>null</td>
                </tr>
                <tr>
                  <td>page</td>
                  <td><i>{optional}</i> Page index of results</td>
                  <td>1</td>
                </tr>
                <tr>
                  <td>page_size</td>
                  <td><i>{optional}</i> Number of results to return in a page</td>
                  <td>200</td>
                </tr>
              </table>
            </td>
            <td>
              <p class="json"></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
